body{
    background-color: #ffdcdc;
    width: 80%;
    margin: 0 auto;
    margin-top: 10%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.background-box{
    display: flex;
    justify-content: center;

    background-position: center;
    background-image: url('./picture/FRAMEPHOTOBOOTH304.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.container-box{
    display: grid;
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 20px;
    width: 80%;
    height: 500px;
}
.control-box{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 0 
}
.btn-dowload-picture{
    background-color: #961A17;
    border-radius: 15px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 70%;
    height: 30px;
}
.btn-add-picture{
    background-color: #961A17;
    border-radius: 15px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-color: white;
    width: 70%;
    height: 30px;
}